<div class="post-middle-area">
    <% for(let i=0 ;i< game.length; i++) { %>
        
            <!-- 포스트 -->
            <div class="sc-item-container">
                <a href="http://127.0.0.1:3000/playstation_Store_game_page?id=<%= game[i].id %>">
                    <div class="sc-item-img-area">
                        <img src="<%=game[i].image %>" alt="">
                    </div>
                    <div class="sc-item-info-area">
                        <div class="sc-item-title"><%= game[i].title %></div>
                    </div>
                </a>
            </div>
        
    <% } %>
</div>
