<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <meta charset="UTF-8">
    <title>검문소</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "맑은고딕";
        }

        h1 {
            margin: 30px auto;
            color: rgb(41, 41, 41);
            font-size: 35px;
        }

        body {
            background-color: rgb(224, 224, 224);
        }

        main {
            width: 50%;
            background-color: #fff;
            margin: 8% auto;
            display: flex;
            flex-direction: column;
        }

        .login-box {
            width: 65%;
            margin: auto;
            font-size: 25px;

            display: flex;
            flex-direction: column;
        }

        .login-box input {
            width: 100%;
            font-size: 20px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid rgb(209, 209, 209);
            color: black;
        }

        .login-box input:focus {
            border: 1px solid rgb(0, 132, 255);
            outline: none;
        }
        
        .login-title {
            margin-bottom: 2%;
            font-weight: 700;
        }

        .submit-btn {
            width: 100%;
            font-size: 20px;
            padding: 10px;
            background-color: rgb(47, 130, 224);
            color: #fff;
            border: 1px solid rgb(47, 130, 224);
            border-radius: 5px;
            margin: 5% 0;
        }

        .sign-up-area {
            width: 100%;
            display: flex;
            border-top: 1px solid gray;
        }

        .sign-up-area a {
            font-size: 12px;
            margin-left: auto;
            color: gray;
            text-decoration: none;
            margin-top: 2%;
            margin-bottom: 2%;
        }

        .sign-up-area a:hover {
            color: rgb(47, 130, 224);
        }

        .submit-btn:hover {
            cursor: pointer;
            background-color: rgb(37, 98, 168);
        }

        

        .pw-box {
            display: flex;
            position: relative;
            align-items: center;
            margin-bottom: 10px;
        }

        .pw-box .fas {
            position: absolute;
            font-size: 15px;
            right: 20px
        }

        .pw-box .fas:hover {
            color: rgb(47, 130, 224);
            cursor: pointer;
        }

        .password-input {
            margin-bottom: 15px;
        }

        .email-input {
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
    
    <main>
        <h1>회원가입</h1>
        
        <div class="login-box">
            <div class="login-title">이메일</div>
            <input class="email-input" type="text" placeholder="Enter email">
            <div class="login-title">비밀번호</div>
            <div class="pw-box">
                <input class="pw-ip" type="password" placeholder="Enter password">
                <div class="pw-view fas fa-eye-slash"></div>
            </div>
            <input class="pw-ip password-input" type="password" placeholder="Enter password again">

            <button class="submit-btn" type="submit">Sign up</button>

            <div class="sign-up-area">
                <a href="/signIn">로그인 페이지</a>
            </div>
        </div>
        

        <h1></h1>
    
        

    </main>

    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
    <script>
        let pw_val = 0;
        $('.pw-view').click(function(){
            if(pw_val == 0) {
                $('.pw-view').removeClass('fa-eye-slash');
                $('.pw-view').addClass('fa-eye');
                $('.pw-ip').attr('type', 'text');
                pw_val = 1;
            } else {
                $('.pw-view').removeClass('fa-eye');
                $('.pw-view').addClass('fa-eye-slash');
                $('.pw-ip').attr('type', 'password');
                pw_val = 0;
            }
        });
    </script>
 
</body>
</html>