<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "맑은고딕";
        }

        body {
            background-color: rgb(224, 224, 224);
        }

        main {
            width: 50%;
            height: 500px;
            background-color: #fff;
            margin: 8% auto;
            display: flex;
            flex-direction: column;
        }

        h2 {
            margin-bottom: 20px;
        }

        .header-box {
            width: 100%;
            border-bottom: 2px solid black;
        }

        form {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

        }

        .write-area {
            width: 95%;
            height: 95%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }

        .author-area {
            width: 100%;
            display: flex;
            align-items: center;
            
        }

        input, input:focus, .content-area textarea, .content-area textarea:focus {
            border: 1px solid rgb(218, 218, 218);
            outline: none;
        }

        .author-area input {
            margin-left: 20px;
            padding: 5px;
        }

        .title-area input {
            margin: 10px 0px;
            width: 100%;
            padding: 10px;
            word-wrap: break-word;
        }

        .content-area {
            height: 65%;
        }

        .content-area textarea {
            resize: none;
            width: 100%;
            height: 100%;
            padding: 10px;
        }

        .sub-btn {
            margin-top: auto;
            margin-left: auto;
            display: flex;
        }

        .sub-btn button, .sub-btn a {
            border: none;
            border-radius: 5px;
            
            padding: 10px 15px;
            cursor: pointer;
        }

        .submit-btn {
            background-color: rgb(204, 236, 204);
            color: green;
            font-weight: 700;
        }

        .sub-btn a {
            background-color: rgb(224, 224, 224);
            color: black;
            margin-right: 10px;
            text-decoration: none;
        }

        .author-input {
            margin-right: 20px;
        }

        .input-img-c {
            display: none;
        }

        .info-area-a {
            width: 40px;
            height: 40px;
            border-radius: 25px;
            overflow: hidden;
            margin-right: 10px;
            cursor: pointer;
        }

        #imagePreview {
            
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        #imagePreview img {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    
    <main>
        <h2>글작성</h2>
        <div class="header-box"></div>
        <form action="/writeAf" method="post" name="form1">
            <div class="write-area">
                <div class="author-area">
                    <label class="info-area-a" for="imageUpload">
                        <div id="imagePreview"><img src="/img/<%= user_info.user_img%>" alt=""></div>
                    </label>
                    <!-- <input type="file" id="imageUpload" accept=".gif, .jpg, .png" name="author_img" class="input-img-c" value = "<%= user_info.user_img %>"> -->
                    작성자 <input class="author-input" type="text" name='author' value="<%= user_info.nickname %>" readonly>
                    <!-- 비밀번호 <input type="text" name='post_pw'> -->
                    <input type="hidden" name="user_id" value="<%= user_info.id %>">
                </div>
                <div class="title-area">
                    <input type="text" name='title' placeholder='제목을 입력하세요.' minlength="1">
                </div>
                
                <div class="content-area">
                    <textarea name="content" id="" placeholder='내용을 입력하세요.'></textarea>
                </div>
                
                <div class="sub-btn">
                    <a onclick="history.back();">취소</a>
                    <button type="submit" class="submit-btn">등록</button>
                </div>
                
            </div>
        
        </form>
    </main>

    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
    <script>
       function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#imagePreview img').attr("src", e.target.result );
                }
            reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imageUpload").change(function() {
            readURL(this);
        });



        // function required() {
        //     var empt = document.forms["form1"]["title"].value;
        //     if(empt == "") {
        //         alert("Please input a Value");
        //         return false;
        //     } else {
        //         alert('Code has accepted : you can try another');
        //         return true; 
        //     }
        // }


    </script>

   

    <!-- <form action="/writeAf" method="post">
        작성자  : <input type="text" name='author'><br>
        제목    : <input type="text" name='title'><br>
        내용    : <input type="text" name='content'><br>
        <button type="submit">글쓰기</button>
    </form> -->
</body>
</html>